body
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
background-color:#09f;}

a{color:#fff; text-decoration:none;}

#caja_chat{
	width:240px;
	display:none;
	padding:0px;
	background-color:#0F0;
	position:fixed;
 	bottom:-1px; 
	height:280px;
	-webkit-border-radius: 2px 2px 0px 0px;
	-khtml-border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
	border-radius: 2px 2px 0px 0px;
    -ms-border-radius: 2px 2px 0px 0px;
    -o-border-radius: 2px 2px 0px 0px;
	margin:0 0 0 80%;	
	
}

               
#mostrar_caja
{
width:234px;
height:17px;
float:right;
position:fixed;
bottom:-1px;
color:#ffffff;
font-weight:bold;
text-align:center;
margin:0 0 0 80%;
padding:3px;
background-color:#0F0;
-webkit-border-radius: 2px 2px 0px 0px;
-khtml-border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
border-radius: 2px 2px 0px 0px;
-ms-border-radius: 2px 2px 0px 0px;
-o-border-radius: 2px 2px 0px 0px;}

#titulo_caja
{height: 22px; 
float:left;
width: 234px;
color:#ffffff;
text-align:center;
font-weight:bold;
padding: 3px;
border-radius: 2px 2px 0px 0px;
background-color:#0F0;}

#mensaje
{ width:234px; 
height:190px;
background-color:#FFFFFF; 
overflow:auto;
margin-bottom: -13px;
padding: 3px;
font-family:Arial, Helvetica, sans-serif;
font-size:13.5px;

}

#caja_chat .textarea
{width:226px;
height: 40px;
margin: 3px;
resize: none;
padding: 3px;
font-family:Arial, Helvetica, sans-serif;
font-size:13.5px;
-webkit-border-radius: 2px 2px 0px 0px;
-khtml-border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
border-radius: 2px 2px 0px 0px;
-ms-border-radius: 2px 2px 0px 0px;
-o-border-radius: 2px 2px 0px 0px;
border: solid 1px #CCC;

} 


#caja_face .textarea:focus
{
	border: solid #0C0 2px;
	
}  

#textarea_insertar_mensaje span
{ font-size:16px; margin: 60px 3px 3px 3px; float:left; text-align:center; width:100%}	
#caja_chat .input
{float:left; width:180px;
  height: 18px;
margin: 3px 3px 3px 20px;
resize: none;
padding: 3px;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;

-webkit-border-radius: 2px 2px 0px 0px;
	            -khtml-border-radius: 2px 2px 0px 0px;
	            -moz-border-radius: 2px 2px 0px 0px;
	            border-radius: 2px 2px 0px 0px;
   -ms-border-radius: 2px 2px 0px 0px;
                -o-border-radius: 2px 2px 0px 0px;
				border: solid 1px #CCC;
		


}  
#caja_chat #resp
{ float:left; margin:0 0 0 60px;}

#caja_chat img{float: right;margin-top:-20px;margin-right:2px ;}


 /*ESTILOS CSS PARA VENTANA MODAL*/

#modal{position: fixed; height: 100%;width: 100%;background: rgba(0,0,0,.8);z-index: 100;display: none;top: 0;	left: 0; }

#contenido_modal{ display:none;width:500px; height:550px; margin:3px auto 0px auto; background-color:#FFF; border-radius:5px;overflow: auto;}

#close_modal{ float: left; font-size: 16px; color:#0f0; cursor:pointer; margin-lef:10px;}

#contenido_modal fieldset
{
	float:left; font-size:14px; border:0px
}
	
#contenido_modal fieldset label
{
	float:left; font-size:16px; padding:7px; width: 110px; 
}

#contenido_modal fieldset input
{
	float:left; font-size:14px; padding:7px; width: 240px;margin-bottom:10px ;
}

	
#contenido_modal fieldset legend
{
	float:left; font-size:18px; width: 400px; margin:5px 0 5px 0;color:#0F0
}


#contenido_modal fieldset #btn
{
	background-color:#0F0; color:#FFF; font-weight:bold; width: 100px; height: 35px; margin: 5px 0 0px 150px; }	


.img_loading{float:left; margin-left:3px;}
.mensaje_resp{float:left;width:500px; text-align:center;}

#contenido_modal #resp
{ float:left; margin:0 0 0 60px;}
 


 #controles{ float:left; width:180px; height:20px;}
 	#bold {
	  font-weight: bold;
	}
	#italic {
	  font-style: italic;
	} 